{% load staticfiles %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="gap-10"></div>
                &copy; 2017, Магазин постоянных распродаж &laquo;Галамарт&raquo;
            </div>
            <div class="col-lg-8 text-right">
                <a href="http://galamart.ru">
                    <img src="{% static 'img/dev-white.png' %}" alt="Разработчик"/>
                </a>
            </div>
        </div>
    </div>
</footer>