{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div id="postlist">
                <!--start post-->
                {% for post in posts %}
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">{{ post.title }}</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>2014-07-30<br>18:30:00</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        {{ post.text }}
                        <a href="#">Read more</a>
                    </div>

                    <div class="panel-footer">
                        <span class="label label-default">Welcome</span> <span
                            class="label label-default">Updates</span> <span class="label label-default">July</span>
                    </div>
                </div>
                {% endfor %}
                <!--end post-->
<!--start post-->
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">Post With image</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>2014-07-30 18:30:00</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <a href="#" class="thumbnail">
                            <img alt="Image" src="http://i.imgur.com/tAHVmXi.jpg">
                        </a>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation... <a href="#">Read more</a>
                    </div>

                    <div class="panel-footer">
                        <span class="label label-default">Image</span> <span class="label label-default">Updates</span>
                        <span class="label label-default">July</span>
                    </div>
                </div>
                <!--end post-->

            </div>

            <hr align="center" width="500" size="2" color="#ff0000" />

            <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Posts...</a></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

{% endblock %}





